*{
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: serif;
}

body {
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
}

.page {
  width: 100vw;
  min-height: 100vh;
  display: flex;
align-items: center;
  justify-content: center;
}

.board {
  width: 900px;
  height: 500px;
  display: flex;
  position: relative;
}

.player {
  flex: 1;
  padding: 40px;
  text-align: center;
}

.player h2 {
  font-size: 28px;
  margin-bottom: 30px;
}

.score {
  font-size: 90px;
  margin-bottom: 80px;
}

.yellow {
  background: yellow;
}

.red {
  background: blue;
}

.current-box {
  width: 150px;
  margin: 0 auto;
  padding: 20px;
  background: #c03a63;
  border-radius: 16px;
  color: white;
}

.label {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
}

.current-score {
  font-size: 32px;
}

.dice {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90px;
  height: 90px;
  background: white;
  border-radius: 12px;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 14px;
  height: 14px;
  background: #e74c3c;
  border-radius: 50%;
}

.btn {
  position: absolute;
  top: 80%;
  left: 50%;

  width: 100px;
  height: 50px;

    transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn1 {
  position: absolute;
  top: 90%;
  left: 50%;

  width: 100px;
  height: 50px;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}



